<wm-partial type="left-panel" data-ng-controller="leftnavPageController" name="leftnav">
    <wm-nav type="pills" name="nav1" layout="stacked">
        <wm-nav-item name="nav_item1">
            <wm-anchor caption="New Post" name="anchor1" iconclass="wi wi-plus" on-Tap="Variables.goToPage_Main.invoke()"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item2">
            <wm-anchor caption="Bookmark" name="anchor2" iconclass="wi wi-bookmark" on-Tap="Variables.goToPage_liveform.invoke()"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item3">
            <wm-anchor caption="Official Twitter" name="anchor3" iconclass="wi wi-bookmark"></wm-anchor>
        </wm-nav-item>
    </wm-nav>
    <wm-nav type="pills" name="nav2" layout="stacked">
        <wm-nav-item name="nav_item4">
            <wm-anchor caption="Settings" name="anchor4" badgevalue="4"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item5">
            <wm-anchor caption="Help" name="anchor5"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item6">
            <wm-anchor caption="Send Feedback" name="anchor6"></wm-anchor>
        </wm-nav-item>
    </wm-nav>
</wm-partial>