<wm-page data-ng-controller="MainPageController" name="mainpage">
    <wm-left-panel name="left_panel1" content="leftnav" columnwidth="2"></wm-left-panel>
    <wm-mobile-navbar title="Title" name="mobile_navbar1" backbutton="false" leftnavpaneliconclass="wi wi-menu">
        <wm-anchor caption="" name="AddLink" iconclass="wi wi-gear"></wm-anchor>
    </wm-mobile-navbar>
    <wm-content name="content1">
        <wm-page-content name="page_content1" columnwidth="12">
            <wm-livelist class="media-list" name="livelist1" dataset="bind:Variables.DB123TestingAllTypesData.dataSet" itemsperrow="xs-1 sm-1 md-1 lg-1" template="true" itemclass="list-group-item" listclass="list-group" navigation="Pager">
                <wm-listtemplate name="listtemplate1" layout="inline">
                    <wm-container class="media-left" name="container1">
                        <wm-picture class="media-object" width="32pt" name="Picture" height="32pt" picturesource="bind:Variables.DB123TestingAllTypesData.dataSet.blobCol" shape="circle"></wm-picture>
                    </wm-container>
                    <wm-container class="media-body" name="container2" padding="unset unset unset 1.25em">
                        <wm-label class="p media-heading" caption="bind:Variables.DB123TestingAllTypesData.dataSet.stringCol" name="Name" fontsize="1.143" fontunit="em"></wm-label>
                        <wm-label class="p text-muted" caption="bind:Variables.DB123TestingAllTypesData.dataSet.booleanCol" name="JobTitle"></wm-label>
                    </wm-container>
                    <wm-container class="media-right media-top" name="container3">
                        <wm-button class="btn-transparent" name="button1" iconclass="wi wi-share fa-2x"></wm-button>
                    </wm-container>
                </wm-listtemplate>
            </wm-livelist>
            <wm-liveform title="" name="liveform2" iconclass="wi wi-edit" captionposition="top" dataset="bind:Variables.DB123TestingAllTypesData.dataSet" formlayout="inline" errormessage="" defaultmode="View" captionalign="left" formdata="bind:Widgets.livelist1.selecteditem">
                <wm-layoutgrid name="layoutgrid2" columns="1">
                    <wm-gridrow name="gridrow19">
                        <wm-gridcolumn name="gridcolumn19" columnwidth="12">
                            <wm-form-field type="integer" readonly="false" widget="number" displayname="Id" required="true" show="true" name="id" placeholder="Enter value" step="0" key="id" primary-key="true" generator="assigned" inputtype="number"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow20">
                        <wm-gridcolumn name="gridcolumn20" columnwidth="12">
                            <wm-form-field type="byte" readonly="false" widget="number" displayname="Byte Col" required="true" show="true" name="byteCol" placeholder="Enter value" step="0" key="byteCol" primary-key="false" generator="assigned" inputtype="number"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow21">
                        <wm-gridcolumn name="gridcolumn21" columnwidth="12">
                            <wm-form-field type="short" readonly="false" widget="number" displayname="Short Col" required="true" show="true" name="shortCol" placeholder="Enter value" step="0" key="shortCol" primary-key="false" generator="assigned" inputtype="number"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow22">
                        <wm-gridcolumn name="gridcolumn22" columnwidth="12">
                            <wm-form-field type="integer" readonly="false" widget="number" displayname="Int Col" required="true" show="true" name="intCol" placeholder="Enter value" step="0" key="intCol" primary-key="false" generator="assigned" inputtype="number"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow23">
                        <wm-gridcolumn name="gridcolumn23" columnwidth="12">
                            <wm-form-field type="long" readonly="false" widget="number" displayname="Long Col" required="true" show="true" name="longCol" placeholder="Enter value" step="0" key="longCol" primary-key="false" generator="assigned" inputtype="number"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow24">
                        <wm-gridcolumn name="gridcolumn24" columnwidth="12">
                            <wm-form-field type="double" readonly="false" widget="number" displayname="Float Col" required="true" show="true" name="floatCol" placeholder="Enter value" step="0.0001" key="floatCol" primary-key="false" generator="assigned" inputtype="number"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow25">
                        <wm-gridcolumn name="gridcolumn25" columnwidth="12">
                            <wm-form-field type="big_decimal" readonly="false" widget="number" displayname="Double Col" required="true" show="true" name="doubleCol" placeholder="Enter value" step="1e-8" key="doubleCol" primary-key="false" generator="assigned"
                            inputtype="number"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow26">
                        <wm-gridcolumn name="gridcolumn26" columnwidth="12">
                            <wm-form-field type="big_integer" readonly="false" widget="number" displayname="Bigint Col" required="true" show="true" name="bigintCol" placeholder="Enter value" step="0" key="bigintCol" primary-key="false" generator="assigned"
                            inputtype="number"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow27">
                        <wm-gridcolumn name="gridcolumn27" columnwidth="12">
                            <wm-form-field type="big_decimal" readonly="false" widget="number" displayname="Bigdec Col" required="true" show="true" name="bigdecCol" placeholder="Enter value" step="1e-15" key="bigdecCol" primary-key="false" generator="assigned"
                            inputtype="number"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow28">
                        <wm-gridcolumn name="gridcolumn28" columnwidth="12">
                            <wm-form-field type="string" readonly="false" widget="text" displayname="String Col" required="true" show="true" name="stringCol" placeholder="Enter value" key="stringCol" primary-key="false" generator="assigned" maxchars="255"
                            inputtype="text"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow29">
                        <wm-gridcolumn name="gridcolumn29" columnwidth="12">
                            <wm-form-field type="string" readonly="false" widget="text" displayname="Text Col" required="true" show="true" name="textCol" placeholder="Enter value" key="textCol" primary-key="false" generator="assigned" maxchars="255" inputtype="text"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow30">
                        <wm-gridcolumn name="gridcolumn30" columnwidth="12">
                            <wm-form-field type="string" readonly="false" widget="text" displayname="Clob Col" required="true" show="true" name="clobCol" placeholder="Enter value" key="clobCol" primary-key="false" generator="assigned" maxchars="255" inputtype="text"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow31">
                        <wm-gridcolumn name="gridcolumn31" columnwidth="12">
                            <wm-form-field type="date" readonly="false" widget="date" displayname="Date Col" required="true" show="true" name="dateCol" placeholder="Select date" key="dateCol" primary-key="false" generator="assigned" outputformat="yyyy-MM-dd"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow32">
                        <wm-gridcolumn name="gridcolumn32" columnwidth="12">
                            <wm-form-field type="datetime" readonly="false" widget="datetime" displayname="Datetime Col" required="true" show="true" name="datetimeCol" placeholder="Select date time" key="datetimeCol" primary-key="false" generator="assigned"
                            outputformat="yyyy-MM-ddTHH:mm:ss"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow33">
                        <wm-gridcolumn name="gridcolumn33" columnwidth="12">
                            <wm-form-field type="time" readonly="false" widget="time" displayname="Time Col" required="true" show="true" name="timeCol" placeholder="Select time" key="timeCol" primary-key="false" generator="assigned" outputformat="HH:mm:ss"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow34">
                        <wm-gridcolumn name="gridcolumn34" columnwidth="12">
                            <wm-form-field type="datetime" readonly="false" widget="datetime" displayname="Timestamp Col" required="true" show="true" name="timestampCol" placeholder="Select date time" key="timestampCol" primary-key="false" generator="assigned"
                            outputformat="yyyy-MM-ddTHH:mm:ss"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow35">
                        <wm-gridcolumn name="gridcolumn35" columnwidth="12">
                            <wm-form-field type="boolean" readonly="false" widget="toggle" displayname="Boolean Col" show="true" name="booleanCol" key="booleanCol" primary-key="false" generator="assigned"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow36">
                        <wm-gridcolumn name="gridcolumn36" columnwidth="12">
                            <wm-form-field type="blob" readonly="false" widget="upload" displayname="Blob Col" required="true" show="true" name="blobCol" key="blobCol" primary-key="false" generator="assigned" maxchars="-1"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <!--?XML:NAMESPACE PREFIX = "PUBLIC" NS = "URN:COMPONENT" /-->
                <wm-form-action title="Reset" disabled="false" class="form-reset btn-secondary" type="button" show="true" iconclass="wi wi-refresh" key="reset" update-mode="true" display-name="Reset" action="reset()"></wm-form-action>
                <!--?XML:NAMESPACE PREFIX = "PUBLIC" NS = "URN:COMPONENT" /-->
                <wm-form-action title="Save" disabled="false" class="form-save btn-success" type="submit" show="true" iconclass="wi wi-save" key="save" update-mode="true" display-name="Save"></wm-form-action>
            </wm-liveform>
        </wm-page-content>
    </wm-content>
    <wm-mobile-tabbar name="mobile_tabbar1" dataset="home,music,edit"></wm-mobile-tabbar>
</wm-page>